

    <div class="header"><img src="./assets/favicon1.png" alt="logo - Kółko krzyżyk">
        <h1> Kółko i krzyżyk</h1>
    </div>
    <nav class="navigation">
        <button id="newgame" *ngIf="isNewGameButtonVisible" (click)="startgame()">Zacznij grać</button>
    </nav>
    <div id="game" *ngIf="isBoardVisible">
        <p id="statusGame">Aktualny stan gry: {{gameStatusMesssage}}</p>
        <table class="center table-border" border="1">
            <tr>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(0, 0)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(0, 1)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(0, 2)"></app-field>
            </tr>
            <tr>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(1, 0)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(1, 1)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(1, 2)"></app-field>
            </tr>
            <tr>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(2, 0)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(2, 1)"></app-field>
                <app-field (fieldClicked)="onFieldClicked($event)" [xOrO]="fieldcheck(2, 2)"></app-field>
            </tr>
        </table>
        <button id="start" (click)="startgame()">Graj od nowa</button>
        <button id="end" (click)="endgame()">Koniec gry</button>
    </div>
    <div class="footer"><a href="https://pl.wikipedia.org/wiki/K%C3%B3%C5%82ko_i_krzy%C5%BCyk" target="_blank">Jak grać w kółko i krzyżyk</a>
    </div>

